
{% extends 'main.html' %}

{% block content %}

<h1>CONVO</h1>
<h3>Hi {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Guest{% endif %}!</h3>

{% if current_user.is_authenticated %}
<h3>My rooms</h3>
<ul>
    {% for room in rooms %}
        <li><a href="/rooms/{{ room._id.room_id }}">{{ room.room_name }}</a></li>
    {% endfor %}
</ul>
<a href="/create-room/">Create Room</a>
<br>
<br>
<a href="/logout/">Logout</a>
{% else %}

<a href="/login/">Login first</a>

{% endif %}

{% endblock %}