<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>convo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>CONVO</h1>
    <h3>Hi {{ current_user.username }}</h3>
    <form action="/chat">
        <div>
            <label>Enter Username:</label>
            <input type="text" name="username"> 
        </div>
        <div>
            <label>Enter Room ID:</label>
            <input type="text" name="roomid"> 
        </div>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>