
{% extends 'main.html' %}

{% block content %}

<div class="p-5 lg:p-10 text-center mt-10">
    <h1 class="text-3xl lg:text-7xl text-white">{% if current_user.is_authenticated %}Hi {{ current_user.username }}{% else %}Welcome{% endif %}!</h1>
</div>
{% if current_user.is_authenticated %}
<ul>
    
    <div class="w-full flex flex-wrap items-center">
        {% for room in rooms %}
            <div class="w-full lg:w-1/4 px-3 py-3">
                <div class="p-4 bg-white shadow rounded-xl text-center">
                    <h2 class="mb-5 text-xl font-semibold">{{ room.room_name }}</h2>
                    <a href="/rooms/{{ room._id.room_id }}" class="px-5 py-3 block rounded-xl text-white bg-zinc-700 hover:bg-zinc-800 hover:text-teal-200">Join</a>
                </div>
            </div>
        {% endfor %}
            <div class="w-full lg:w-1/4 px-3 py-3">
                <div class="p-4 bg-emerald-50 shadow rounded-xl text-center">
                    <h2 class="mb-5 text-xl font-semibold">Create Room</h2>
                    <a href="/create-room/" class="px-5 py-3 block rounded-xl text-white bg-zinc-700 hover:bg-zinc-800 hover:text-teal-200">+</a>
                </div>
            </div>
    </div>
</ul>
{% else %}
<div class="p-5 lg:p-10 text-center mt-10">
    <h1 class="text-3xl lg:text-3xl text-white">LOGIN or SIGNUP first</h1>
</div>
<div class="lg:w-1/4 lg:mx-auto m-5 bg-zinc-600 rounded-xl text-center">
        <a href="/login/" class="text-white hover:text-teal-200">
            <h2 class="py-4 text-2xl font-semibold">LOGIN</h2>
        </a>
</div>
<div class="lg:w-1/4 lg:mx-auto m-5 bg-zinc-600 rounded-xl text-center">
        <a href="/rooms/" class="text-white hover:text-teal-200">
            <h2 class="py-4 text-2xl font-semibold">SIGNUP</h2>
        </a>
</div>

{% endif %}

{% endblock %}