{% extends 'main.html' %}

{% block content %}

<div class="p-5 lg:p-10 text-center">
    <h1 class="text-xl lg:text-4xl text-white">SIGNUP</h1>
</div>
<div class="p-5 lg:p-10 text-center">
    <h3 class="text-xl lg:text-xl text-red-300">{{ msg_error }}</h3>
</div>
<h3></h3>
<form action="/signup" method="post" class="lg:w-1/4 px-4 mx-auto">
    <div class = "mb-5">
        <label class="text-white pl-1">Username:</label>
        <input type="text" name="username" class="w-full mt-2 px-4 py-2 rounded-xl">
    </div>
    <div class = "mb-5">
        <label class="text-white pl-1">Email:</label>
        <input type="email" name="email" class="w-full mt-2 px-4 py-2 rounded-xl">
    </div>
    <div class = "mb-5">
        <label class="text-white pl-1">Password:</label>
        <input type="password" name="password" class="w-full mt-2 px-4 py-2 rounded-xl">
    </div>
    <button class="px-5 py-3 rounded-xl text-white bg-zinc-700 hover:bg-zinc-800 hover:text-teal-200" type="submit">SignUp</button>
</form>

{% endblock %}