{% extends 'main.html' %}

{% block navv %}
<button id="leave" class=" px-5 py-3 bg-zinc-700 text-white hover:text-red-300">LEAVE ROOM</button>
{% endblock %}

{% block content %}

<div class="p-5 lg:p-10 text-center">
    <h1 class="text-3xl lg:text-4xl text-white">{{ room.name }}</h1>
</div>

<div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-teal-50 h-96 overflow-y-auto" id="message-container">
    <div class="chat-messages space-y-3" id="messages">

        {% for message in messages %}
            {% if message.sender == current_user.username %}
            <div class="text-right">{{message.text}}<b> :{{message.sender}}</b></div>
            {% else %}
            <div><b>{{message.sender}}: </b>{{message.text}}</div>
            {% endif %}
        {% endfor %}
        
    </div>
</div>
<div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-zinc-700 rounded-lg">
    <form class="flex" id="msginputform">
        <input type="text" id="msginput" class="pl-2 flex-1 mr-3 rounded-lg" placeholder="   Type Here..." autocomplete="off">
        <button class="px-5 py-3 rounded-lg text-white bg-zinc-900 hover:bg-zinc-800 hover:text-teal-200" type="submit">Submit</button>
    </form>
</div>

{% endblock %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
<script>
    const socket = io.connect("http://127.0.0.1:5000");

    socket.on('connect', function() {
        socket.emit('join_room', { username : "{{ username }}", roomid : "{{ room._id }}"});

        let msg_input = document.getElementById('msginput');

        document.getElementById('msginputform').onsubmit = function (e) {
            e.preventDefault();
            let msg = msg_input.value.trim()
            if (msg.length) {
                socket.emit('send_message',{ username : "{{ username }}", roomid : "{{ room._id }}", msg : msg})
            }
            msg_input.value = '';
            msg_input.focus();
        }

    })

    document.getElementById('leave').onclick = function(){
        socket.emit('leave_room', { username : "{{ username }}", roomid : "{{ room._id }}" });
        window.location.href = "http://127.0.0.1:5000/"
    }


    socket.on('join_announcement', function(data) {
        console.log(data);
        if (data.username !== "{{ username }}"){
            const newA = document.createElement('div');
            newA.innerHTML = `<b>${data.username}</b> joined`;
            document.getElementById('messages').appendChild(newA);
        }
    })

    socket.on('receive_message', function(data){
        console.log(data);
        const newA = document.createElement('div');
        if (data.username == "{{current_user.username}}") {
            newA.innerHTML = `<div class = "text-right">${data.msg}<b> :${data.username}</b></div>`;
        } else {
            newA.innerHTML = `<div><b>${data.username}: </b>${data.msg}</div>`;
        }
        document.getElementById('messages').appendChild(newA);
        scrollbottom()
    })

    socket.on('leave_room_announcement', function (data) {
        console.log(data);
        const newN = document.createElement('div');
        newN.innerHTML = `<b>${data.username}</b> has left the room`;
        document.getElementById('messages').appendChild(newN);
    });

    function scrollbottom(){
        var messageContainer = document.getElementById("message-container");
        messageContainer.scrollTop = messageContainer.scrollHeight;
    }
    
    scrollbottom()
</script>

{% endblock %}